<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  
  <!-- CSS - Used Spacelab Bootswatch which overrides bootstrap and requires js and jQuery -->
    <!-- Spacelab Bootswatch -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/spacelab/bootstrap.min.css" integrity="sha384-F1AY0h4TrtJ8OCUQYOzhcFzUTxSOxuaaJ4BeagvyQL8N9mE4hrXjdDsNx249NpEc" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</head>

<body>
    <div class="card-columns">

        <div class="card"> 
            <div class="card-header text-center text-warning"><h1>Featured Mars Image</h1></div>   
                <img class="card-img-bottom" src="{{ mars_one.featured_img }}" alt="Featured Image">
        </div> 
 

        <div class="card">
            <div class="card-header text-center text-warning"><h1>Mission to Mars!</h1>
            </div>
            <div class="card-body text-center">
                <h4>See Mars Data from three sources:</h4>
                <ul style="list-style-type:none;">
                    <li><h6><a href="https://redplanetscience.com/">RedPlanetScience.com</a> provides the Latest Headlines</h6></li>
                    <li><h6>The Featured Image is from <a href="https://spaceimages-mars.com/">SpaceImages-Mars.com</a></h6></li>
                    <li><h6><a href="https://galaxyfacts-mars.com/">GalaxyFacts-Mars.com</a> provides the Mars-Earth Comparison</h6></li>
                    <li><h6><a href="https://marshemispheres.com/">MarsHemispheres.com</a> is the source of the hemisphere images</h6></li>
                </ul>
                <p>Click the button below to scrape new data.</p>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
            </div>
        </div>

        <div class="card">  
            <div class="card-header text-center text-warning"><h3>Latest News</h3></div>  
                <div class="card-body">
                    <h3 class="card-title">{{ mars_one.latest_news.title }}</h3>
                    <p class="card-text">{{ mars_one.latest_news.lead_in }}</p>
                </div>          
        </div>

            
        <div class="card">  
            <div class="card-header text-center"><h3>Mars Facts</h3></div>  
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-warning">
                                <th></th>
                                <th>Mars</th>
                                <th>Earth</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Diameter:</th>
                                <td>{{ mars_one.mars_facts.Mars.Diameter }}</td>
                                <td>{{ mars_one.mars_facts.Earth.Diameter }}</td>
                            </tr>
                            <tr>
                                <th>Mass:</th>
                                <td>{{ mars_one.mars_facts.Mars.Mass }}</td>
                                <td>{{ mars_one.mars_facts.Earth.Mass }}</td>
                            </tr>
                            <tr>
                                <th>Moons:</th>
                                <td>{{ mars_one.mars_facts.Mars.Moons }}</td>
                                <td>{{ mars_one.mars_facts.Earth.Moons }}</td>
                            </tr>
                            <tr>
                                <th>Distance from Sun:</th>
                                <td>{{ mars_one.mars_facts.Mars.DistancefromSun }}</td>
                                <td>{{ mars_one.mars_facts.Earth.DistancefromSun }}</td>
                            </tr>
                            <tr>
                                <th>Length of Year:</th>
                                <td>{{ mars_one.mars_facts.Mars.LengthofYear }}</td>
                                <td>{{ mars_one.mars_facts.Earth.LengthofYear }}</td>
                            </tr>
                            <tr>
                                <th>Temperature:</th>
                                <td>{{ mars_one.mars_facts.Mars.Temperature }}</td>
                                <td>{{ mars_one.mars_facts.Earth.Temperature }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    
        <div class="card">
            <div class="card-header text-center"><h3 class="text-center my-4">Hemispheres</h3></div>
            <div class="card-body">
                <div class="card-deck">
                    {% for h in mars_one.hemispheres %}
                    <div class="card">
                        <img class="card-img-top" src="{{ h.img_url }}" alt="{{ h.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ h.title }}</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    

</body>

</html>